body{
    font-family: Poppins;
}
.container-fluid{
    background-color:#0dcaf0;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
img {
	bottom: 42px;
	position: relative;
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
#carouselExampleCaptions .card{
    height: 100px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.2);
}
#certification .card{
    border: 0px;
}
#certification img{
    height: 200px;
    width: 200px;
    border-radius: 25px;
}
#certification .card-footer{
    background: white;
}
